[Unit]
Description=A fully recursive caching DNS resolver
After=network.target

[Service]
ExecStartPre=/usr/bin/install --directory --mode=0755 --owner=nobody --group=nobody /run/deadwood
ExecStart=/usr/bin/deadwood -f /etc/dwood3rc

[Install]
WantedBy=multi-user.target
